* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    background-image: url('Imagens/fundo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}
main {
    text-align: center;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.664);
    width: 50vw;
    margin: 42px;
    max-width: 600px;
    min-width: 350px;
    padding: 30px 50px;
    border: 1px black solid;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.521);
}
footer {
    background-color: black;
    color: white;
    width: 50vw;
    max-width: 600px;
    min-width: 350px;
}
h1 {
    font-size: 50px;
}
h2 {
    margin: 10px 0px 5px;
}
h1#azul {
    color: #392bff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
}
img.ulf {
    margin: 10px 0px 5px;
    border-radius: 50%;
    border: 1px #0000007a solid;
}
img.proj {
    width: 100px;
    height: 100px;
    border: 2px rgba(0, 0, 0, 0) solid;
    margin: 5px;
}
img.proj:hover {
    border: 2px #392bff solid;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.507);
    transition: 1s;
}
main > section > p {
    margin: 0px 20px 0px 20px;
}
p.tit {
    font-weight: bold;
}
a { 
    text-decoration: none;
}
fieldset {
    margin-top: 10px;
    padding: 10px;
}
legend {
    font-weight: bold;
}