* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

}
main {
    text-align: center;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.466);
    width: 50vw;
    max-width: 600px;
    min-width: 350px;
    padding: 30px 50px;
    border: 1px black solid;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.521);
    margin-top: 75px;
}
section#inicio {
    margin-bottom: 30px;
    color: white;
}
main > section > h1 {
    font-size: 30px;
}
h1#azul {
    color: #392bff;
    margin-bottom: 20px;
}
img.ulf {
    margin: 10px;
    border-radius: 50%;
    border: 1px #0000007a solid;
}
img.proj {
    width: 100px;
    height: 100px;
    border: 1px rgba(0, 0, 0, 0.452) solid;
    margin: 5px;
}
main > section > p {
    margin: 0px 20px 0px 20px;
}
p.tit {
    font-weight: bold;
}
footer {
    margin-top: 30px;
}
a { 
    text-decoration: none;
    color: #392bff;
    font-weight: bold;
}
main > a:hover {
    text-decoration: underline;
    color: #2bffd1;
}
h2 {
    margin: 10px 0px 5px;
}

